<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>3.1</string>
	<key>isBaseSDK</key>
	<string>YES</string>
	<key>MinimalDisplayName</key>
	<string>Simulator - 3.1</string>
	<key>CanonicalName</key>
	<string>iphonesimulator3.2</string>
</dict>
</plist>
